<div class="container">
    <h3>主题短讲</h3>
    @Html.Partial("_Talk", new TalkModel {
        Title = "福州话保护的蓝图",
        Description = "方言保护的初始阶段是一个发现矛盾、细化矛盾、解决矛盾，从而推进项目发展的过程。一个简单而核心的问题是——方言保护为什么不可以马上成功。用数字营销与媒体文化研究的视角来看，我们要准确抓住，谁是”我们“，谁是“祂们”，“我们”与“祂们”的关系，各自有什么目的、理想与实际期许、什么阻隔，从而有效率、精准地开展保护项目。",
        Speaker = "卓迅",
        SpeakerDescription = "土生土长福州人，福州话文盲，跨学科与媒介艺术创作背景，研究生主攻个体记忆与国家记忆的共生。",
        SpeakerAvatar = Context.GetLink("/assets/images/zhuoxun.jpg")
    })
    @Html.Partial("_Talk", new TalkModel {
        Title = "福州话课本电子化",
        Description = "福州话课文电子化，就是将过去福州话教材的文本内容数位化，并配置音频、视频，以网站为载体在网络上展现。电子化对象，是《闽语入门》与《榕腔初学二十堂》这两本上世纪出版的福州话课本。我们的目标是，让这两本过去的教材「复活」，给现在的年轻人学习福州话创造条件。",
        Speaker = "子善",
        SpeakerDescription = "福州话输入法、榕典、福州话课本电子化的负责人之一",
        SpeakerAvatar = Context.GetLink("/assets/images/zysieng.jpg")
    })
    @Html.Partial("_Talk", new TalkModel {
        Title = "火种：福州一中方言研究性学习",
        Description = "“火种”研学是福州一中校内的福州话课堂，由福州一中的同学们自己组织开设。研学设置的目的是——保护祖辈世代相传、传承丰富文化底蕴的福州话，阻止其在未来消失。目前研学共有人数70人，其中有高一同学20人。采取大班上课形式，开课频率大约每周一次。由于一中的同学不便参加，因此由子善代替一中负责人对“火种”研学进行简单的介绍。",
        Speaker = "子善",
        SpeakerDescription = "(代替一中负责人)",
        SpeakerAvatar = Context.GetLink("/assets/images/zysieng.jpg")
    })

    @Html.Partial("_Talk", new TalkModel {
        Title = "真鸟囝输入法和榕典 入门",
        Description = "真鸟囝输入法是一款带有福州话词库，面向福州话保护者的的平话拼音输入法。我们相信它是福州话电脑输入迈向普及的第一步。我们将带你上手真鸟囝输入法，并就个人如何参与并塑造真鸟囝输入法进行讨论。<br/>"+
                     "榕典是一款正在开发中的多来源在线平话字词典。我们的目标是帮助福州话保护者和学习者便捷地获取高质量的福州话字、词、音资料。我们会展示榕典的功能，以及你可以如何参与。期望听到你的意见。",
        Speaker = "Radium",
        SpeakerDescription = "真鸟囝输入法和榕典技术负责人",
        SpeakerAvatar = Context.GetLink("/assets/images/radium.jpg")
    })
    @Html.Partial("_Talk", new TalkModel {
        Title = "闽都文化推广与福州方言保护",
        Description = "“语言是文化的载体，也是文化的重要组成部分”。福州方言的保护与闽都文化的传承推广是一体两面、相辅相成的互动。此次的线上交流，我想代表闽都乡学讲习中心与各位分享以下三方面的内容：首先，结合学术界的相关研究，对方言保护的理据与教育理念进行简要的探讨；其次，简要梳理闽都文化传播与福州方言推广的现状与面临的挑战；第三，向各位介绍闽都乡学讲习中心开展的与方言保护相关项目（如“南仙茶摊”、“茉莉留声机”），分享我们经验教训以及未来的规划，与各位一起探讨福州方言保护与传承的可能路径。",
        Speaker = "江泓",
        SpeakerDescription = "福州人，教育学博士，主要研究领域为口述历史与公共教育，闽都乡学讲习中心学术监事",
        SpeakerAvatar = "https://ui-avatars.com/api/?name=江"
    })
    @Html.Partial("_Talk", new TalkModel {
        Title = "三山指路——福州话地名收集项目",
        Description = "“乌塔白塔分列左右，闽县侯官遘学院前。安泰榜眼坊蜀座，南街七巷共三坊。”——地名是一座城市的名片，是一座城市活着的历史。“三山指路”是收集和保存福州十邑地名的一个网站项目，主要包括收集地名、地理位置、图像、历史渊源、历史沿革、平话读音、发音人信息等相关数据。“三山指路”既可以作为词典一样，方便随时查阅，更可以作为文集一样，可以闲时翻阅。这个项目的初衷是希望能够让更多的福州人了解自己城市的地名文化，能够让更多的福州人用平话说出最地道的各处地名。",
        Speaker = "蓝尾星",
        SpeakerDescription = "",
        SpeakerAvatar = "https://ui-avatars.com/api/?name=蓝"
    })
    @Html.Partial("_Talk", new TalkModel {
        Title = "我的福州话故事",
        Description = "一、个人对福州话爱好的发端<br/>"+
                    "二、近十年来所了解、参与的福州话项目、活动举例<br/>"+
                    "三、在外求学背景下福州话对个人学习生活的正面影响<br/>"+
                    "四、老一辈与年轻一代福州人从事福州话保护的不同视角<br/>"+
                    "五、对现有针对青少年的福州话普及项目的简述与展望<br/>",
        Speaker = "阿迭",
        SpeakerDescription = "青年福州话爱好者，工科专业本科在读，运用福州话已有十五年。",
        SpeakerAvatar = Context.GetLink("/assets/images/haber.jpg")
    })
    @Html.Partial("_Talk", new TalkModel {
        Title = "闽东维基 Update",
        Description = "闽东语维基百科 (cdo.wikipedia.org) 及福州话有声新闻。闽东语包括福州话、福安话、福鼎话，使用者分布于闽东及东南亚、日本、美国等地华人社区。我们致力于用文字、语音记录闽东语。",
        Speaker = "Victor Yeh",
        SpeakerDescription = "闽东语维基百科志愿者",
        SpeakerAvatar = "https://ui-avatars.com/api/?name=%3f"
    })
    @Html.Partial("_Talk", new TalkModel {
        Title = "福州话视觉转化设计",
        Description = "对于不了解福州话的人来说，福州方言基本相当于一门“外语”。而福州话的视觉转化设计，就是将福州话的发音和语调通过技术手段进行视觉呈现，更直观地展现福州话的语音特点，为福州话的初学者提供一个低门槛的辅助方案。这个项目可以视为一个视觉实验，演讲简单与大家分享一下初步的转化思路，共同探讨方案的可能性。",
        Speaker = "牛",
        SpeakerDescription = "一个不会说福州话的福州人。西安美术学院视觉传达研究生在读，传统文化爱好者。",
        SpeakerAvatar = "https://ui-avatars.com/api/?name=牛"
    })
    <h3>关于</h3>
    <p>“南风天”在福州话中意为“由寒转暖，和暖宜人的天气”。本活动旨在促进平话（闽东语福州话）保护者展示成果、互相交流想法、共享资源，协力保护平话。其发源于2017、2018年春季几位福州话保护志愿者的非正式小聚。今年因肺炎病毒疫情改为线上进行。
    </p>
    <h3>如何参与</h3>
    <p>小聚演讲将在bilibili通过网络直播。届时你可以通过直播聊天室和演讲者互动。请关注此页面，或加入<a href="#" onclick="showQrCode()">微信群</a>以获取最新信息。</p>
</div>