<!DOCTYPE html>
<html class="no-js" lang="en">
@{
string title = Model.WithoutSettings.String("Title");
if (String.IsNullOrEmpty(title)) {
title = Model.String("SiteName");
} else {
title = title + " | " + Model.String("SiteName");
}
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@title</title>
    <link rel="stylesheet" href="@Context.GetLink("/assets/css/site.css")" />
    <link rel="shortcut icon" href="@Context.GetLink("/assets/images/favicon.ico")" type="image/x-icon">
    <link rel="icon" href="@Context.GetLink("/assets/images/favicon.ico")" type="image/x-icon">
</head>

<body>
    <div class="container-fluid hero-background">
        <div class="jumbotron container hero-inner">
            <h1 class="display-4">
                <ruby class="title">
                    南<rp>(</rp>
                    <rt class="title-yngping">nang</rt>
                    <rp>)</rp>
                    风<rp>(</rp>
                    <rt class="title-yngping">hung</rt>
                    <rp>)</rp>
                    天<rp>(</rp>
                    <rt class="title-yngping">tieng</rt>
                    <rp>)</rp>
                </ruby>
            </h1>
            <h3>
                平话保护者在线小聚
            </h3>
            <hr class="my-4">
            <p>2020 年 2 月 1 日 14:00 (UTC+8) </p>
            <a class="btn btn-primary btn-lg" href="https://wj.qq.com/s2/5306878/213e/" target="_blank" role="button">参加者问卷</a>
        </div>
    </div>
    
    <div class="container">
        @RenderBody()
    </div>
    
    @Html.Partial("_WechatQrCodeModal")
    <script>
        function showQrCode() {
            var modal = document.querySelector("#wechatQrCode");
            modal.classList.add("show");
            modal.style.display = "block";
        }
        function hideQrCode() {
            var modal = document.querySelector("#wechatQrCode");
            modal.classList.remove("show");
            modal.style.display = "none";
        }
    </script>
    @Html.Partial("_Footer")

</body>

</html>